/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body { 
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

form {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr {
    border-bottom: 1px solid #cccccc;
}

table td {
    padding: 10px;
}

input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Animation for prediction result */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Styles for prediction result display */
#predictionResult {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0; /* Initial background color */
    background-image: url('https://cdn.glitch.global/80a61425-00ae-4815-b00b-35e0d41352ea/bg.avif?v=1719120043321'); /* Background image URL */
    background-size: cover; /* Adjusts the size of the background image */
    background-position: center; /* Centers the background image */
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: center;
    display: none; /* Initially hidden */
}

/* Fade-in animation applied when showing prediction */
.show {
    display: block;
    animation: fadeIn 0.5s ease-out;
}

/* Updated background color after prediction */
.predicted {
    background-color: #c1e1c1; /* Change to desired color */
    background-image: none; /* Remove background image if necessary */
}

